{{- $title := .Get "title" -}}
{{- $summary := .Get "summary" -}}
{{- $bullets := .Get "bullets" -}}
{{- $link := .Get "link" -}}
{{- $icon := .Get "icon" | default "" -}}

<div class="resource-card card" data-aos="fade-up">
  <h3 class="section-title">{{- if $icon }}{{ $icon }} {{ end -}}{{- if $link -}}<a href="{{ $link }}" target="_blank">{{ $title }}</a>{{- else -}}{{ $title }}{{- end -}}</h3>
  <p>{{ $summary | markdownify }}</p>
  <ul>
{{- range $item := split $bullets "|" -}}
    <li>{{- $item | chomp -}}</li>
{{- end -}}
  </ul>
</div>